<h2>Lista de productos</h2>
<table border="1" cellpadding="10">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Categoría</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of products">
      <td>{{ producto.name }}</td>
      <td>{{ producto.description }}</td>
      <td>{{ producto.price }}</td>
      <td>{{ producto.stock }}</td>
      <td>{{ producto.category }}</td>
      <td>
        <button>Editar</button>
        <button>Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
